* {
    margin: 0;
    padding: 0;
}


/* Fonts */
:root {
    --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-primary: "Roboto", sans-serif;
    --font-secondary: "Work Sans", sans-serif;
  }

/* Colors */
:root {
    --color-default: #364d59;
    --color-primary: #feb900;
    --color-secondary: #52565e;
  }
  
  /* Smooth scroll behavior */
  :root {
    scroll-behavior: smooth;
  }

  /*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
    font-family: var(--font-default);
    color: var(--color-default);
    overflow-x: hidden;
  }
  
  a {
    color: var(--color-primary);
    text-decoration: none;
  }
  
  a:hover {
    color: #ffc732;
    text-decoration: none;
  }

 




  /*NAVBAR*/
.navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3px;
    font-family: var(--font-primary);
    font-size: 14px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.6);
    text-transform: uppercase;
    white-space: nowrap;
    transition: 0.3s;
    position: relative;
    text-decoration: none;
  }

  

  .navbar .offcanvas a:hover,
  .navbar .active:focus,
  .navbar li:hover>a {
    color: var(--color-primary)
  }

  /*END OF NAVBAR*/


  /*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
    overflow-x: hidden;
    padding: 0;
  }
  
  .hero .carousel {
    width: 100%;
    min-height: 100vh;
    padding: 80px 0;
    margin: 0;
    position: relative;
  }
  
  .hero .carousel-item {
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    z-index: 1;
    transition-duration: 0.4s;
  }
  
  .hero .carousel-item::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    inset: 0;
  }
  
  .hero .info {
    position: absolute;
    inset: 0;
    z-index: 2;
  }
  
  @media (max-width: 768px) {
    .hero .info {
      padding: 0 50px;
    }
  }
  
  .hero .info h2 {
    color: #fff;
    margin-bottom: 30px;
    padding-bottom: 30px;
    font-size: 56px;
    font-weight: 700;
    position: relative;
  }
  
  .hero .info h2:after {
    content: "";
    position: absolute;
    display: block;
    width: 80px;
    height: 4px;
    background: var(--color-primary);
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
  
  @media (max-width: 768px) {
    .hero .info h2 {
      font-size: 36px;
    }
  }
  
  .hero .info p {
    color: rgba(255, 255, 255, 0.8);
    font-size: 18px;
  }
  
  .hero .info .btn-get-started {
    font-family: var(--font-primary);
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 40px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    color: #fff;
    border: 2px solid var(--color-primary);
  }
  
  .hero .info .btn-get-started:hover {
    background: var(--color-primary);
  }
  
  .hero .carousel-control-prev {
    justify-content: start;
  }
  
  @media (min-width: 640px) {
    .hero .carousel-control-prev {
      padding-left: 15px;
    }
  }
  
  .hero .carousel-control-next {
    justify-content: end;
  }
  
  @media (min-width: 640px) {
    .hero .carousel-control-next {
      padding-right: 15px;
    }
  }
  
  .hero .carousel-control-next-icon,
  .hero .carousel-control-prev-icon {
    background: none;
    font-size: 26px;
    line-height: 0;
    background: rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 0.6);
    border-radius: 50px;
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .hero .carousel-control-prev,
  .hero .carousel-control-next {
    z-index: 3;
    transition: 0.3s;
  }
  
  .hero .carousel-control-prev:focus,
  .hero .carousel-control-next:focus {
    opacity: 0.5;
  }
  
  .hero .carousel-control-prev:hover,
  .hero .carousel-control-next:hover {
    opacity: 0.9;
  }


  /*--------------------------------------------------------------
# Intro
--------------------------------------------------------------*/
.intro  {
  margin: 20px;
  padding: 40px;
}

.intro .content {
  background-color: #f6f9ff;
  padding: 40px;
}

.intro h3 {
  font-size: 14px;
  font-weight: 700;
  color: #4154f1;
  text-transform: uppercase;
}

.intro h2 {
  font-size: 24px;
  font-weight: 700;
  color: #012970;
}

.intro p {
  margin: 15px 0 30px 0;
  line-height: 24px;
}

.intro .btn-read-more {
  line-height: 0;
  padding: 15px 40px;
  border-radius: 4px;
  transition: 0.5s;
  color: #fff;
  background: #4154f1;
  box-shadow: 0px 5px 25px rgba(65, 84, 241, 0.3);
}

.intro .btn-read-more span {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
}

.intro .btn-read-more i {
  margin-left: 5px;
  font-size: 18px;
  transition: 0.3s;
}

.intro .btn-read-more:hover i {
  transform: translateX(5px);
}
  
.content a {
  text-decoration: none;
}

.content h3 {
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 10px 0;
  color: #012970;
}

 .content  {
  font-size: 44px;
  line-height: 44px;
  color: #0245bc;
  margin-right: 15px;
}

.content  p {
  font-size: 15px;
  color: #848484;
}

/*--------------------------------------------------------------
# Why Us
--------------------------------------------------------------*/
.why-us {
  padding-top: 10px;
}

.why-us .box {
  padding: 50px 30px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  transition: all ease-in-out 0.3s;
}

.why-us .box span {
  display: block;
  font-size: 28px;
  font-weight: 700;
  color: #ed5b5b;
}

.why-us .box h4 {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 600;
  padding: 0;
  margin: 20px 0;
  color: #191919;
}

.why-us .box p {
  color: #aaaaaa;
  font-size: 15px;
  margin: 0;
  padding: 0;
}

.why-us .box:hover {
  background: var(--color-primary);
  padding: 30px 30px 70px 30px;
  box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.18);
}

.why-us .box:hover span,
.why-us .box:hover h4,
.why-us .box:hover p {
  color: #fff;
}

  /*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.section .icon-box {
    box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
    padding: 50px 30px;
    transition: all ease-in-out 0.4s;
    background: #fff;
  }
  
  
  .section .icon-box .icon {
    margin-bottom: 10px;
  }
  
  .section .icon-box .icon i {
    color: #47b2e4;
    font-size: 36px;
    transition: 0.3s;
  }
  
  .section .icon-box h4 {
    font-weight: 500;
    margin-bottom: 15px;
    font-size: 24px;
  }
  
  .section .icon-box h4 a {
    color: #37517e;
    transition: ease-in-out 0.3s;
    list-style: none;
    text-decoration: none;
  }
  
  .section .icon-box p {
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
  }
  
  .section .icon-box:hover {
    transform: translateY(-10px);
  }
  
  .section .icon-box:hover h4 a {
    color: #47b2e4;
  }

  #showcase {
    margin: 20px;
    padding: 20px;
  }


  /*--------------------------------------------------------------
# Alt Services Section
--------------------------------------------------------------*/
.alt-services .img-bg {
  background-size: cover;
  background-position: center center;
  min-height: 400px;
}

.alt-services h3 {
  font-size: 28px;
  font-weight: 700;
  color: var(--color-secondary);
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.alt-services h3:after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: var(--color-primary);
  left: 0;
  bottom: 0;
}

.alt-services .icon-box {
  margin-top: 50px;
}

.alt-services .icon-box i {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-primary);
  margin-right: 25px;
  font-size: 28px;
  width: 56px;
  height: 56px;
  border-radius: 4px;
  line-height: 0;
  box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.08);
  background-color: #fff;
  transition: 0.3s;
}

.alt-services .icon-box:hover i {
  background-color: var(--color-primary);
  color: #fff;
}

.alt-services .icon-box h4 {
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 18px;
}

.alt-services .icon-box h4 a {
  color: #000;
  transition: 0.3s;
}

.alt-services .icon-box h4 a:hover {
  color: var(--color-primary);
}

.alt-services .icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}
  /*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
    padding: 140px 0 60px 0;
    min-height: 30vh;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .breadcrumbs:before {
    content: "";
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    inset: 0;
  }
  
  .breadcrumbs h2 {
    font-size: 56px;
    font-weight: 500;
    color: #fff;
    font-family: var(--font-secondary);
  }
  
  .breadcrumbs ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0 0 10px 0;
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    color: var(--color-primary);
  }
  
  .breadcrumbs ol a {
    color: rgba(255, 255, 255, 0.8);
    transition: 0.3s;
  }
  
  .breadcrumbs ol a:hover {
    text-decoration: underline;
  }
  
  .breadcrumbs ol li+li {
    padding-left: 10px;
  }
  
  .breadcrumbs ol li+li::before {
    display: inline-block;
    padding-right: 10px;
    color: #fff;
    content: "/";
  }
  /*end of breadcrumb */
/*Article*/
  .card {
    background: #fff;
    padding: 1rem;
  }
  .containers {  
    margin: auto;
    padding: 0 1rem;
    overflow: hidden;
}
.page-containers {
  display: grid;
  grid-template-columns: 5fr 2fr;
  margin: 2rem 0;
  grid-gap: 1.5rem;
}



/*--------------------------------------------------------------
# Contact Section
--------------------------------------------------------------*/
.contact .info-item {
  margin: 30px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.08);
  padding: 30px 0 30px 0;
}

.contact .info-item i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  font-size: 24px;
  line-height: 0;
  color: var(--color-primary);
  border-radius: 50%;
  border: 2px dotted #ffd565;
}

.contact .info-item h3 {
  font-size: 20px;
  color: #6c757d;
  font-weight: 700;
  margin: 10px 0;
}

.contact .info-item p {
  text-align: center;
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.contact .php-email-form {
  width: 100%;
  background: #fff;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.08);
  padding: 30px;
  margin-left: 60px;
}

.contact .php-email-form .form-group {
  padding-bottom: 20px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #df1529;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br+br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #059652;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #059652;
  border-top-color: #fff;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
  border-color: var(--color-primary);
}

.contact .php-email-form input {
  height: 44px;
}

.contact .php-email-form textarea {
  padding: 10px 12px;
}

.contact .php-email-form button[type=submit] {
  background: var(--color-primary);
  border: 0;
  padding: 10px 35px;
  color: #fff;
  transition: 0.4s;
  border-radius: 5px;
}

.contact .php-email-form button[type=submit]:hover {
  background: rgba(254, 185, 0, 0.8);
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* 4. about
--------------------------------------------------------------------------------*/

.about {
  display: block;
  position: relative;
  margin-bottom: 50px;
  margin-right: 30px;
  min-height: 400px;
}

.about img {
  display: none;
  width: 100%;
  height: 50%;
}

@media (min-width: 993px) {
  .about img {
      display: block;
  }

  .about .about-quote {
      position: relative;
      bottom: 50px;
      right: -30px;
      float: right;
      opacity: .85;
  }
}

@media (min-width: 993px) and (min-width: 481px) {
  .about .about-quote {
      position: absolute;
      right: -30px;
      bottom: -30px;
      float: none;
  }
}

/* 11. quote_02
--------------------------------------------------------------------------------*/

.quote-02 {
  max-width: 300px;
  background-color: #f0542c;
  border: 5px solid #fff;
  padding: 10px;
  margin: 0;
  box-shadow: 0 0 5px rgba(68, 68, 68, .6);
}

.quote-02 * {
  color: #fff;
}

.quote-02__text {
  font-family: "Playfair Display", serif;
  font-style: italic;
}

.quote-02__text:before {
  content: '\F10D';
  font-family: 'FontAwesome';
  font-size: 12px;
  display: block;
}

/* 5. authorbox
--------------------------------------------------------------------------------*/

.authorbox {
  position: relative;
  padding: 30px 8px;
  overflow: hidden;
}

.authorbox__avartar {
  position: relative;
  float: right;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 20px;
}

.authorbox__avartar img {
  display: none !important;
  }

.authorbox__avartar:after {
  content: '';
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  border: 1px solid #eee;
  border-radius: 50%;
}

.authorbox__info {
  text-align: right;
}

.authorbox__name {
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 10px;
}

.authorbox__work {
  font-family: "Playfair Display", serif;
  font-style: italic;
}

.authorbox__style-02 .authorbox__avartar {
  float: left;
  margin-left: 0;
  margin-right: 20px;
}

.authorbox__style-02 .authorbox__info {
  text-align: left;
}

.md-skin-dark .authorbox__work {
  color: #fff;
}

/* 18. sec_title
--------------------------------------------------------------------------------*/

.sec-title {
  margin-bottom: 30px;
}

.sec-title__title {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.sec-title__title span {
  color: #f0542c;
}

.sec-title__divider {
  display: block;
  width: 40px;
  height: 2px;
  background-color: #f0542c;
}

.sec-title__lg-title .sec-title__title {
  font-size: 20px;
}

.md-skin-dark .sec-title__title {
  color: #fff;
}

.md-text-center .sec-title__divider {
  margin-left: auto;
  margin-right: auto;
}

.md-text-right .sec-title__divider {
  margin-left: auto;
  margin-right: 0;
}


/*--------------------------------------------------------------
# Our Team Section
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Sections & Section Header
--------------------------------------------------------------*/
section {
  padding: 80px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #f5f6f7;
}

.section-header {
  text-align: center;
  padding-bottom: 70px;
}

.section-header h2 {
  font-size: 32px;
  font-weight: 700;
  position: relative;
  color: #2e3135;
}

.section-header h2:before,
.section-header h2:after {
  content: "";
  width: 50px;
  height: 2px;
  background: var(--color-primary);
  display: inline-block;
}

.section-header h2:before {
  margin: 0 15px 10px 0;
}

.section-header h2:after {
  margin: 0 0 10px 15px;
}

.section-header p {
  margin: 0 auto 0 auto;
}

@media (min-width: 1199px) {
  .section-header p {
    max-width: 60%;
  }
}


.team .member {
  position: relative;
}

.team .member .member-img {
  margin: 0 80px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

@media (max-width: 1024px) {
  .team .member .member-img {
    margin: 0 60px;
  }
}

.team .member .member-img img {
  position: relative;
  z-index: 1;
}

.team .member .member-img .social {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  padding-bottom: 20px;
  transition: 0.3s;
  visibility: hidden;
  opacity: 0;
}

.team .member .member-img .social a {
  transition: 0.3s;
  color: #fff;
  font-size: 20px;
  margin: 0 8px;
}

.team .member .member-img .social a:hover {
  color: var(--color-primary);
}

.team .member .member-info {
  margin-top: 30px;
}

.team .member .member-info h4 {
  font-weight: 700;
  margin-bottom: 6px;
  font-size: 18px;
  color: var(--color-secondary);
}

.team .member .member-info span {
  font-style: italic;
  display: block;
  font-size: 15px;
  color: #838893;
  margin-bottom: 10px;
}

.team .member .member-info p {
  margin-bottom: 0;
  font-size: 14px;
}

.team .member:hover .member-img .social {
  padding-bottom: 0;
  visibility: visible;
  opacity: 1;
}

/*Footer*/
#footer {
  font-size: 14px;
  background: #f3f5fa;
}
#footer .footer-newsletter {
  padding: 50px 0;
  background: #f3f5fa;
  text-align: center;
  font-size: 15px;
  color: #444444;
}
#footer .footer-newsletter h4 {
  font-size: 24px;
  margin: 0 0 20px 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
  color: #37517e;
}
#footer .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 50px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.06);
  text-align: left;
}
#footer .footer-newsletter form input[type=email] {
  border: 0;
  padding: 4px 8px;
  width: calc(100% - 100px);
}
#footer .footer-newsletter form input[type=submit] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: #1808a731;
  color: #fff;
  transition: 0.3s;
  border-radius: 50px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}
#footer .footer-newsletter form input[type=submit]:hover {
  background: #0a3e75;
}

#footer .footer-top {
  padding: 60px 0 30px 0;
  background: #fff;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}
#footer .footer-top .footer-contact h3 {
  font-size: 28px;
  margin: 0 0 10px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 600;
  color: #37517e;
}

#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Jost", sans-serif;
  color: #5e5e5e;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #37517e;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #47b2e4;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #777777;
  text-decoration: none;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #47b2e4;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #0a3e75;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #209dd8;
  color: #fff;
}

#footer .footer-bottom {
  padding-top: 20px;
  padding-bottom: 20px;
  color: #0a3e75;
  background-color: #f3f5fa;
  
}

#footer .copyright {
  float: center;
}

#footer .credits {
  float: right;
  font-size: 13px;
}

#footer .credits a {
  transition: 0.3s;
}

@media (max-width: 768px) {
  #footer .footer-bottom {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  #footer .copyright,
  #footer .credits {
    text-align: center;
    float: none;
  }

  #footer .credits {
    padding-top: 4px;
  }
}



/*Section Titel*/

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #37517e;
}

.section-title h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: var(--color-primary);
  bottom: 0;
  left: calc(50% - 20px);
}

